<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobiusvision.qrcode.mapper.BpOrderInfoMapper">

    <update id="deleteByIds">
        UPDATE bp_order_info
        SET is_valid = 0,
        update_user =  #{updateUser},
        update_time = #{updateTime}
        WHERE
        id in
        <foreach collection="ids" item="id" index="i" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
